<div class="sc-tile-default" >
    <div class="sc-tile-default-property">
        <span class="sc-tile-property-title">Name: </span><span class="sc-tile-property-value" data-bind="text: Name"></span>
    </div>
    <div class="sc-tile-default-property">
        <span class="sc-tile-property-title">Value: </span><span class="sc-tile-property-value" data-bind="text: Value"></span>
    </div>
    <div class="sc-tile-default-property">
        <span class="sc-tile-property-title">StandardValue: </span><span class="sc-tile-property-value" data-bind="text: StandardValue"></span>
    </div>
    <div class="sc-tile-default-property">
        <span class="sc-tile-property-title">Template Name: </span><span class="sc-tile-property-value" data-bind="text: TemplateName"></span>
    </div>
    <div class="sc-tile-default-property">
        <span class="sc-tile-property-title">Template Path: </span><span class="sc-tile-property-value" data-bind="text: TemplatePath"></span>
    </div>
</div>