<div>
    @*Want to remove inline click event and change to checkbox once SPEAK chash with checkbox and listcontrol tile resolved*@
    <input data-bind="attr: { name: Name }" type="button" value="Off" onclick="if (value == 'Off') { value = 'On' } else { value ='Off'};"/>

    <div class="sc-tile-default-property">
        <strong class="sc-tile-property-title">Name: </strong>
        <span class="sc-tile-property-value" data-bind="text: Name"></span>
    </div>
    <div class="sc-tile-default-property">
        <strong class="sc-tile-property-title">Template Name: </strong>
        <span class="sc-tile-property-value" data-bind="text: TemplateName"></span> -
        <em class="sc-tile-property-value" data-bind="text: TemplateId"></em>
    </div>
    <div class="sc-tile-default-property">
        <strong class="sc-tile-property-title">Value: </strong>
        <p class="sc-tile-property-value" data-bind="text: Value"></p>
    </div>
    <div class="sc-tile-default-property">
        <strong class="sc-tile-property-title">Standard Value: </strong>
        <p class="sc-tile-property-value" data-bind="text: StandardValue"></p>
    </div>
</div>